$primary-background: #C5E4E7;
$label-color: #5E7A7D;
$tip-selector-button-color: #00474B;

$button-active-color: #26C2AE;
$button-disabled-color: #0D686D;
$button-hover-color: #9FE8DF;

$error-color: #E17457;